.container{
  width: fit-content;
  padding:1.125rem 2rem;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  &:hover{
    cursor: pointer;
  }
  
}
.cancel{
  background: #FFFFFF;
color: #B9B9B9;


}
.done{
  color: #FFFFFF;
  background: #003399;
}