.container{
    max-width: 680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    background: #FFFFFF;
    border-radius: 16px;
    margin: auto;
    z-index: 999;
    
}

.calendarContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.75rem;
}